    .active{
        border-bottom: 1px solid blue;
    }
    .mat-toolbar{
        position: fixed;
        z-index: 2;
        top: 0px;
    }
    a{
        text-decoration: none;
        color:#fff;
    }
    
    .mat-select-value-text{
        color:red !important;
    }
    app-cart-total{
        flex:1;
        justify-content: flex-end;
        display: inline-flex;
    }
   
    
    
    