<button mat-mini-fab color="primary" class="btn-cart" routerLink="cart">
  <mat-icon class="mat-18" [matBadge]="mTotal" matBadgePosition="above after" matBadgeColor="warn">shopping_cart
  </mat-icon>
</button>
<mat-list class="cart-popover">
  <mat-list-item *ngFor="let product of mProcduts">
    <img matListAvatar [src]="'../'+product.image_url" alt="...">
    <h3 matLine> {{product.name}} </h3>
    <p matLine>
      <span> {{product.price|number}} </span>
    </p>
  </mat-list-item>
</mat-list>