.mat-card-image{
    width: 100px;
    height: 100px;
    object-fit:contain;
}
.mat-card-content{
    text-align: center;
}
.order-item{
    max-width: 25%;
}
.container{
    padding-top:20px !important;
}
mat-card{
}