@import '~@angular/material/theming';

$primary-theme-color-primary:mat-palette($mat-pink);
$primary-theme-color-accent:mat-palette($mat-green);
$primary-theme-color-warn:mat-palette($mat-orange);
$primary-theme:mat-light-theme($primary-theme-color-primary, $primary-theme-color-accent, $primary-theme-color-warn);

